type memcheck, domain;
type memcheck_exec, exec_type, file_type;

init_daemon_domain(memcheck)

unix_socket_connect(memcheck, property, init)

allow memcheck config_prop:property_service set;
