# Nick Kralevich <nnk@google.com> : Allow loading files with text relocations from /system

# Adapted from shamu
allow mm-qcamerad system_data_file:sock_file unlink;
allow mm-qcamerad sensors_socket:sock_file read;

allow mm-qcamerad system_data_file:dir { write remove_name add_name };
