import /init.recovery.vold_decrypt.hwservicemanager.rc
import /init.recovery.vold_decrypt.keymaster-3-0.rc

on init
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion

    setprop ro.board.platform msm8916

# separate copy needed to use /sbin/linker instead of /system/bin/linker
service sbinqseecomd /sbin/qseecomd
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

on property:ro.crypto.state=encrypted
    start sbinhwservicemanager
    start sbinqseecomd

on property:hwservicemanager.ready=true
    start sbinkeymaster-3-0

on property:init.svc.sys_vold=stopped
    stop sbinkeymaster-3-0
    stop sbinhwservicemanager
