on boot
    write /sys/module/lpm_levels/system/performance/cpu0/wfi/idle_enabled Y
    write /sys/module/lpm_levels/system/performance/cpu1/wfi/idle_enabled Y
    write /sys/module/lpm_levels/system/performance/cpu2/wfi/idle_enabled Y
    write /sys/module/lpm_levels/system/performance/cpu3/wfi/idle_enabled Y
    write /sys/module/lpm_levels/system/power/cpu4/wfi/idle_enabled Y
    write /sys/module/lpm_levels/system/power/cpu5/wfi/idle_enabled Y
    write /sys/module/lpm_levels/system/power/cpu6/wfi/idle_enabled Y
    write /sys/module/lpm_levels/system/power/cpu7/wfi/idle_enabled Y
    write /sys/module/lpm_levels/system/performance/cpu0/standalone_pc/idle_enabled Y
    write /sys/module/lpm_levels/system/performance/cpu1/standalone_pc/idle_enabled Y
    write /sys/module/lpm_levels/system/performance/cpu2/standalone_pc/idle_enabled Y
    write /sys/module/lpm_levels/system/performance/cpu3/standalone_pc/idle_enabled Y
    write /sys/module/lpm_levels/system/power/cpu4/standalone_pc/idle_enabled Y
    write /sys/module/lpm_levels/system/power/cpu5/standalone_pc/idle_enabled Y
    write /sys/module/lpm_levels/system/power/cpu6/standalone_pc/idle_enabled Y
    write /sys/module/lpm_levels/system/power/cpu7/standalone_pc/idle_enabled Y
    write /sys/module/lpm_levels/system/performance/cpu0/pc/idle_enabled Y
    write /sys/module/lpm_levels/system/performance/cpu1/pc/idle_enabled Y
    write /sys/module/lpm_levels/system/performance/cpu2/pc/idle_enabled Y
    write /sys/module/lpm_levels/system/performance/cpu3/pc/idle_enabled Y
    write /sys/module/lpm_levels/system/power/cpu4/pc/idle_enabled Y
    write /sys/module/lpm_levels/system/power/cpu5/pc/idle_enabled Y
    write /sys/module/lpm_levels/system/power/cpu6/pc/idle_enabled Y
    write /sys/module/lpm_levels/system/power/cpu7/pc/idle_enabled Y
    write /sys/module/lpm_levels/system/performance/cpu0/pc/suspend_enabled Y
    write /sys/module/lpm_levels/system/performance/cpu1/pc/suspend_enabled Y
    write /sys/module/lpm_levels/system/performance/cpu2/pc/suspend_enabled Y
    write /sys/module/lpm_levels/system/performance/cpu3/pc/suspend_enabled Y
    write /sys/module/lpm_levels/system/power/cpu4/pc/suspend_enabled Y
    write /sys/module/lpm_levels/system/power/cpu5/pc/suspend_enabled Y
    write /sys/module/lpm_levels/system/power/cpu6/pc/suspend_enabled Y
    write /sys/module/lpm_levels/system/power/cpu7/pc/suspend_enabled Y
    write /sys/module/lpm_levels/system/power/power-l2-pc/idle_enabled Y
    write /sys/module/lpm_levels/system/power/power-l2-active/idle_enabled Y
    write /sys/module/lpm_levels/system/power/power-l2-pc/idle_enabled Y
    write /sys/module/lpm_levels/system/performance/performance-l2-active/idle_enabled Y
    write /sys/module/lpm_levels/system/performance/performance-l2-pc/idle_enabled Y
    write /sys/module/lpm_levels/system/power/power-l2-pc/suspend_enabled Y
    write /sys/module/lpm_levels/system/performance/performance-l2-pc/suspend_enabled Y
    write /sys/module/lpm_levels/system/system-cci-active/idle_enabled Y
    write /sys/module/lpm_levels/system/system-cci-retention/idle_enabled Y
    write /sys/module/lpm_levels/system/system-cci-pc/idle_enabled Y
    write /sys/module/lpm_levels/system/system-cci-pc/suspend_enabled Y

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"

