# Copyright (c) 2009-2012, 2014, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import init.target.power.rc

on boot
    # Torch
    chown system camera /sys/class/leds/torch-light/brightness
    chmod 0660 /sys/class/leds/torch-light/brightness

    # LEDs
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/red/led_time
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/green/led_time
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/blink
    chown system system /sys/class/leds/blue/led_time
    chown system system /sys/class/leds/blue/brightness

    # Reset LEDs brightness
    write /sys/class/leds/red/brightness 0
    write /sys/class/leds/green/brightness 0
    write /sys/class/leds/blue/brightness 0

    # charger
    chown system system /sys/class/power_supply/battery/capacity
    chmod 0660 /sys/class/power_supply/battery/capacity
    chown root /sys/class/power_supply/battery/current_now
    chown root /sys/class/power_supply/battery/voltage_now
    chmod 0664 /sys/class/power_supply/battery/current_now
    chmod 0664 /sys/class/power_supply/battery/voltage_now

    # MPU6050 accelerometer
    chown system system /sys/class/sensors/MPU6050-accel/calibrate
    chown system system /sys/class/sensors/MPU6050-accel/enable
    chown system system /sys/class/sensors/MPU6050-accel/enable_wakeup
    chown system system /sys/class/sensors/MPU6050-accel/flush
    chown system system /sys/class/sensors/MPU6050-accel/max_latency
    chown system system /sys/class/sensors/MPU6050-accel/poll_delay
    chmod 0660 /sys/class/sensors/MPU6050-accel/calibrate
    chmod 0660 /sys/class/sensors/MPU6050-accel/enable
    chmod 0660 /sys/class/sensors/MPU6050-accel/enable_wakeup
    chmod 0660 /sys/class/sensors/MPU6050-accel/flush
    chmod 0660 /sys/class/sensors/MPU6050-accel/max_latency
    chmod 0660 /sys/class/sensors/MPU6050-accel/poll_delay

    # MPU6050 gyroscope
    chown system system /sys/class/sensors/MPU6050-gyro/calibrate
    chown system system /sys/class/sensors/MPU6050-gyro/enable
    chown system system /sys/class/sensors/MPU6050-gyro/enable_wakeup
    chown system system /sys/class/sensors/MPU6050-gyro/flush
    chown system system /sys/class/sensors/MPU6050-gyro/max_latency
    chown system system /sys/class/sensors/MPU6050-gyro/poll_delay
    chmod 0660 /sys/class/sensors/MPU6050-gyro/calibrate
    chmod 0660 /sys/class/sensors/MPU6050-gyro/enable
    chmod 0660 /sys/class/sensors/MPU6050-gyro/enable_wakeup
    chmod 0660 /sys/class/sensors/MPU6050-gyro/flush
    chmod 0660 /sys/class/sensors/MPU6050-gyro/max_latency
    chmod 0660 /sys/class/sensors/MPU6050-gyro/poll_delay

    # LTR553 light
    chown system system /sys/class/sensors/ltr553-light/calibrate
    chown system system /sys/class/sensors/ltr553-light/enable
    chown system system /sys/class/sensors/ltr553-light/enable_wakeup
    chown system system /sys/class/sensors/ltr553-light/flush
    chown system system /sys/class/sensors/ltr553-light/max_latency
    chown system system /sys/class/sensors/ltr553-light/poll_delay
    chmod 0660 /sys/class/sensors/ltr553-light/calibrate
    chmod 0660 /sys/class/sensors/ltr553-light/enable
    chmod 0660 /sys/class/sensors/ltr553-light/enable_wakeup
    chmod 0660 /sys/class/sensors/ltr553-light/flush
    chmod 0660 /sys/class/sensors/ltr553-light/max_latency
    chmod 0660 /sys/class/sensors/ltr553-light/poll_delay

    # LTR553 proximity
    chown system system /sys/class/sensors/ltr553-proximity/calibrate
    chown system system /sys/class/sensors/ltr553-proximity/enable
    chown system system /sys/class/sensors/ltr553-proximity/enable_wakeup
    chown system system /sys/class/sensors/ltr553-proximity/flush
    chown system system /sys/class/sensors/ltr553-proximity/max_latency
    chown system system /sys/class/sensors/ltr553-proximity/poll_delay
    chmod 0660 /sys/class/sensors/ltr553-proximity/calibrate
    chmod 0660 /sys/class/sensors/ltr553-proximity/enable
    chmod 0660 /sys/class/sensors/ltr553-proximity/enable_wakeup
    chmod 0660 /sys/class/sensors/ltr553-proximity/flush
    chmod 0660 /sys/class/sensors/ltr553-proximity/max_latency
    chmod 0660 /sys/class/sensors/ltr553-proximity/poll_delay

    # AKM09911 magnetic sensor
    chown system system /sys/class/sensors/akm09911-mag/calibrate
    chown system system /sys/class/sensors/akm09911-mag/enable
    chown system system /sys/class/sensors/akm09911-mag/enable_wakeup
    chown system system /sys/class/sensors/akm09911-mag/flush
    chown system system /sys/class/sensors/akm09911-mag/max_latency
    chown system system /sys/class/sensors/akm09911-mag/poll_delay
    chmod 0660 /sys/class/sensors/akm09911-mag/calibrate
    chmod 0660 /sys/class/sensors/akm09911-mag/enable
    chmod 0660 /sys/class/sensors/akm09911-mag/enable_wakeup
    chmod 0660 /sys/class/sensors/akm09911-mag/flush
    chmod 0660 /sys/class/sensors/akm09911-mag/max_latency
    chmod 0660 /sys/class/sensors/akm09911-mag/poll_delay

    # YAS537 magnetic sensor
    chown system system /sys/class/sensors/yas537-mag/calibrate
    chown system system /sys/class/sensors/yas537-mag/enable
    chown system system /sys/class/sensors/yas537-mag/enable_wakeup
    chown system system /sys/class/sensors/yas537-mag/flush
    chown system system /sys/class/sensors/yas537-mag/max_latency
    chown system system /sys/class/sensors/yas537-mag/poll_delay
    chmod 0660 /sys/class/sensors/yas537-mag/calibrate
    chmod 0660 /sys/class/sensors/yas537-mag/enable
    chmod 0660 /sys/class/sensors/yas537-mag/enable_wakeup
    chmod 0660 /sys/class/sensors/yas537-mag/flush
    chmod 0660 /sys/class/sensors/yas537-mag/max_latency
    chmod 0660 /sys/class/sensors/yas537-mag/poll_delay

    chown system input /sys/class/sensors/yas537-mag/hard_offset
    chown system system /sys/class/sensors/yas537-mag/self_test
    chmod 0664 /sys/class/sensors/yas537-mag/hard_offset
    chmod 0664 /sys/class/sensors/yas537-mag/self_test
    write /sys/class/sensors/yas537-mag/position 5

    # Set per_process_reclaim tuning parameters
    write /sys/module/process_reclaim/parameters/enable_process_reclaim 1
    write /sys/module/process_reclaim/parameters/pressure_min 50
    write /sys/module/process_reclaim/parameters/pressure_max 70
    write /sys/module/process_reclaim/parameters/per_swap_size 512
    write /sys/module/process_reclaim/parameters/swap_opt_eff 30

    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk0/bdi/read_ahead_kb 128

on charger
   wait /dev/block/bootdevice/by-name/system
   mount ext4 /dev/block/bootdevice/by-name/system /system ro barrier=1
   chown root system /sys/class/power_supply/battery/current_now
   chown root system /sys/class/power_supply/battery/voltage_now
   chmod 0664 /sys/class/power_supply/battery/current_now
   chmod 0664 /sys/class/power_supply/battery/voltage_now

on init
    export LD_SHIM_LIBS /system/vendor/lib/libWVStreamControlAPI_L3.so|libshim_boringssl.so
    write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

on property:service.bootanim.exit=1
    # Enable swap
    write /sys/block/zram0/comp_algorithm lz4
    swapon_all fstab.qcom
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/swappiness 100

service memcheck /system/bin/memcheck
    user root
    group root
    class late_start
    oneshot

on property:sys.boot_completed=1
    start config_lineout

service config_lineout /system/bin/sh /system/etc/init.lineout.sh
    user root
    group root
    class late_start
    oneshot
    disabled
